<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_DAY_%E2%98%80%EF%B8%8F_%60print()%60_Functio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 1 *Basic Output:** Write a program that prints:
   ```

In [1]:
print('Hello world')

Hello world

In [ ]:
## 2. **Printing a Number:** Write a Python program that prints the number `10`.

In [2]:
num = 10
print(num)

10

In [ ]:
## 3. **Using Variables:** Store your name in a variable and print:

In [3]:
name = "sohaib"
print(name)

sohaib

In [ ]:
## 4. **Printing Multiple Values:** Use a single `print()` statement to display:
   ```

In [4]:
print(5**2)

25

In [ ]:
## 5. **Using `sep`:** Print three words with a `-` between them.

In [6]:
print('apple', 'banana', 'cherry', sep='-')

apple-banana-cherry

In [ ]:
## 6. **Using `end`:** Print two sentences using two `print()` statements, but make sure they appear on the same line.

In [7]:
name ="sohaib"
name1 = "khan"
print(name,name1)

sohaib khan

In [ ]:
### 7. Concatenation:** Print a sentence by combining strings using `+`.

In [8]:
num = 'sohaib'
num1 = 'khan'
print(num+num1)

sohaibkhan

In [ ]:
### 8 Printing a Calculation:** Write a program that prints the sum of two numbers.

In [10]:
num = 10
num1 = 20
print(num + num1)

30

In [ ]:
### 9. **Using f-strings:** Print your name and age in the following format:

In [14]:
age = 10
print(f'my name is sohaib and my age is {age}')

my name is sohaib and my age is 10

In [ ]:
### 10. **Fun Fact:** Print an interesting fact about Python using the `print()` function.

In [17]:
print("Fun Fact: The name 'Python' comes from 'Monty Python', not the snake!")

Fun Fact: The name 'Python' comes from 'Monty Python', not the snake!