<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_%60range()%60_Function_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: `range()` Function in Python**

In [ ]:
## 1. Use `range()` to print numbers from `0` to `4`

In [ ]:
for i range(0,4):
  print(i)

In [ ]:
### 2. Create a loop that prints numbers from `5` to `10` using `range()`

In [1]:
for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [ ]:
### 3. Generate numbers from `2` to `20` with a step of `3` using `range()` and print them.

In [2]:
for i in range(2, 21, 3):
    print(i)

2
5
8
11
14
17
20

In [ ]:
### 4. Write a loop that prints numbers in reverse from `10` to `1` using `range()`

In [3]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
### 5. Convert `range(1, 6)` into a list and print it.

In [5]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
### 6. Use `range()` in a `for` loop to print only even numbers between `1` and `10`

In [6]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
### 7. Create a loop using `range()` that prints `"Python"` five times.

In [7]:
for i in range(5):
    print("Python")

Python
Python
Python
Python
Python

In [ ]:
## 8. Use `range()` to generate numbers from `-10` to `-1` and print them.

In [8]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
### 9. Generate numbers from `50` to `30` with a step of `-5` using `range()` and print them.

In [9]:
for i in range(50, 29, -5):
    print(i)

50
45
40
35
30

In [ ]:
### 10. Write a program using `range()` that calculates the sum of numbers from `1` to `100`.

In [10]:
total = 0
for i in range(1, 101):
    total += i

print("Sum from 1 to 100 is:", total)

Sum from 1 to 100 is: 5050