<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_%60reduce()%60_Function_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: `reduce()` Function in Python**

In [ ]:
## 1. Write a program using `reduce()` to calculate the sum of all numbers in a list `[10, 20, 30, 40, 50]`.

In [9]:

num =[10, 20, 30, 40, 50]
count =reduce(lambda x,y:x+y,num)
print(count)

150

In [12]:
## 2. Use `reduce()` to find the maximum number in the list `[12, 45, 78, 34, 89, 23]`.


num =[12, 45, 78, 34, 89, 23]
count = reduce(lambda x,y: x if x>y else y,num)
print(count)

89

In [13]:
## 3. Write a program that uses `reduce()` to multiply all elements in `[2, 3, 5, 7]`.
num = [2, 3, 5, 7]
count =reduce(lambda x,y: x*y,num)
print(count)

210

In [ ]:
## 4. Use `reduce()` to concatenate all strings in `["Hello", " ", "World", "!"]`.

In [14]:
name =["Hello", " ", "World", "!"]
count =reduce(lambda x,y: x+y,name)
print(count)

Hello World!

In [ ]:
## 5. Given a list `[3, 6, 9, 12, 15]`, use `reduce()` to find the greatest common divisor (GCD).

In [15]:
num =[3, 6, 9, 12, 15]
count =reduce(lambda x,y: x if x>y else y,num)
print(count)

15

In [ ]:
## 6. Write a program using `reduce()` to compute the factorial of `5` using the list `[1, 2, 3, 4, 5]`.

In [16]:
num = [1, 2, 3, 4, 5]
count =reduce(lambda x,y: x*y,num)
print(count)

120

In [ ]:
## 7. Use `reduce()` to calculate the product of all even numbers in `[1, 2, 3, 4, 5, 6, 8, 10]`.

In [35]:


numbers = [1, 2, 3, 4, 5, 6, 8, 10]
even_numbers = [number for number in numbers if number % 2 == 0]
product = reduce(lambda x, y: x +y, even_numbers)

print(product)

30

In [ ]:
## 8. Write a function using `reduce()` to compute the sum of squares of `[2, 4, 6, 8]`.

In [38]:
num = [2, 4, 6, 8]
subbu =map(lambda x: x**2,num)
count =reduce(lambda x,y: x+y,subbu)
print(count)

120

In [ ]:
### 9. Use `reduce()` to find the longest word in `["apple", "banana", "cherry", "avocado"]`.

In [40]:
from functools import reduce

words = ["apple", "banana", "cherry", "avocado"]
longest_word = reduce(lambda a,b: a if len(a)>len(b) else b ,words)
print(longest_word)

avocado

In [ ]:
### 10. Given a list `[100, 50, 25, 5]`, use `reduce()` to perform a **cumulative division** (i.e., `100 / 50 / 25 / 5`).

In [41]:
count =[100, 50, 25, 5]
subbu1 =reduce(lambda x,y: x/y,count)
print(subbu1)

0.016