<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Variable_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: Variable**

In [ ]:
## 1. Create a variable `name` and assign your name to it. Print the variable.

In [1]:
name = 'sohaib'
print(name)

sohaib

In [ ]:
##3 2 . Declare two variables `a` and `b`, assign them integer values, and print their sum.

In [5]:
a = 30
b = 25
print(a + b)

55

In [ ]:
### 3. Assign a floating-point number to a variable `price` and print its value.

In [6]:
price = 4.0
print(price)

4.0

In [ ]:
### 4. Declare a boolean variable `is_valid` with the value `True` and print it.

In [7]:
num = 1
is_valid = bool(num)
print(is_valid)

True

In [ ]:
### 5 Create three variables `x, y, z` and assign them the values `10, 20, 30` in a single line. Print them.

In [8]:
x = 10
y = 20
z = 30
print(x+y+z)

60

In [ ]:
## 6. Assign the same value `100` to three variables `p, q, r` and print them.

In [9]:
p = 100
q = 100
r = 100
print(p,q,r)

100 100 100

In [ ]:
## 7 Change the value of a variable `age` from `25` to `30` and print both values.

In [11]:
age = 25
print(age)
age = 30
print(age)

25
30

In [ ]:
## 8. Assign a value to a variable, delete it using `del`, and try to print it.

In [18]:
x = 42
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
### 9. Create a variable `message`, assign a string to it, and print its length using `len()`

In [20]:
message = 'sohaib'
print(len(message))

6

In [ ]:
## 10.  Declare a variable `data`, assign an integer value, change it to a string, and print both values.`

In [22]:
data = "10"
print(str(data))

10

In [23]:
print(type(data))

<class 'str'>