<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Lambda_Function_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: Lambda Function in Python**

In [ ]:
### 1. Write a lambda function to add two numbers and print the result.

In [1]:
num = lambda x,y : x+y
print(num(2,3))

5

In [ ]:
### 2 Create a lambda function to find the square of a given number.

In [4]:
num = lambda x: x**2
print(num(5))

25

In [ ]:
### 3  Write a lambda function to check if a number is even or odd.

In [8]:
num = lambda x: "even" if x % 2 == 0 else "odd"
print(num(2))

even

In [ ]:
## 4 . Define a lambda function that returns the larger of two numbers.

In [9]:
num = lambda x,y : x if x >y else y
print(num(2,3))

3

In [ ]:
## 5. Use a lambda function to concatenate two strings with a space in between.

In [13]:
num = lambda x, y: x + " "  + y
print(num("hello", "world"))

hello world

In [ ]:
## 6. Create a lambda function that takes a number and returns `"Positive"` if it is greater than zero, otherwise `"Negative"`.

In [19]:
num = lambda x: "Positive" if x > 0 else "Negative"
print(num(1))

Positive

In [ ]:
### 8. Use a lambda function inside `filter()` to get only even numbers from a list `[10, 15, 20, 25, 30]`.

In [21]:
numbers = [10, 15, 20, 25, 30]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[10, 20, 30]

In [ ]:
### 9 Write a lambda function inside `sorted()` to sort a list of tuples based on the second value: `[(1, 5), (2, 3), (4, 1)]`.

In [23]:
num = [(1, 5), (2, 3), (4, 1)]
res = sorted(num, key=lambda x: x[1])
print(res)

[(4, 1), (2, 3), (1, 5)]

In [ ]:
### 10. Create a lambda function that returns the length of a given string.

In [26]:
num = lambda x: len(x)
print(num("hello"))

5