<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_For_Loop_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: For Loop in Python**

In [ ]:
### 1 Write a `for` loop to print numbers from `1` to `5`

In [1]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
## 2. Use a `for` loop to iterate over the list `fruits = ["apple", "banana", "cherry"]` and print each item.

In [2]:
fruits = ["apple", "banana", "cherry"]
for fruits in fruits:
  print(fruits)

apple
banana
cherry

In [ ]:
## 3. Create a `for` loop that prints numbers from `2` to `10` with a step of `2` using `range()`.

In [6]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [ ]:
## 4. Write a `for` loop to print each character of the string `"Python"`.

In [7]:
name = 'python'
for name in name :
  print(name)

p
y
t
h
o
n

In [ ]:
## 5. Use a `for` loop to calculate and print the sum of numbers in the list `[10, 20, 30, 40]`.

In [11]:
numbers = [10, 20, 30, 40]
total = 0

for num in numbers:
    total += num

print( total)

100

In [ ]:
## 6. Write a `for` loop that stops execution when it encounters the number `5` using `break`.

In [12]:
for num in range(1,10):
  if num == 5:
    break
  print(num)

1
2
3
4

In [ ]:
## 7. Create a `for` loop that skips printing the number `3` using `continue`

In [14]:
for num in range(1,7):
  if num == 3:
    continue
  print(num)

1
2
4
5
6

In [ ]:
## 8. Write a nested `for` loop to print a multiplication table for numbers `1` to `3`.

In [22]:
for i in range(1, 4):
    for j in range(1, 4):
        product = i * j
        print(f"{i} x {j} = {product}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
### 9. Use a `for` loop to iterate through a dictionary `{ "name": "Dhiraj", "age": 25 }` and print its keys and values.

In [24]:
person = { "name": "Dhiraj", "age": 25 }

for key, value in person.items():
    print(f"{key}: {value}")

name: Dhiraj
age: 25

In [ ]:
## 10. Create a `for` loop with an `else` statement that prints `"Loop completed"` when the loop finishes normally.

In [25]:
for i in range(1, 6):
    print(i)
else:
    print("Loop completed")

1
2
3
4
5
Loop completed