<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Object_Oriented_Programming_(OOP)_%E2%80%93_Classes_and_Objects_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: Object-Oriented Programming (OOP) – Classes and Objects*

In [ ]:
## 1. Create a `Car` class with attributes `brand` and `model`, then create an object and print the details.

In [2]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display_details(self):
        print(f"Car Brand: {self.brand}, Model: {self.model}")


my_car = Car("Toyota", "Camry")

my_car.display_details()

Car Brand: Toyota, Model: Camry

In [ ]:
##2 Define a `Person` class with `name` and `age` attributes, and add a method `introduce()` to print a greeting message.

In [3]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, my name is {self.name} and I'm {self.age} years old.")


person1 = Person("Anita", 28)



person1.introduce()

Hi, my name is Anita and I'm 28 years old.

In [ ]:
## 3. Implement a `BankAccount` class with methods `deposit()` and `withdraw()`, and test it with an account balance.

In [4]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ₹{amount}. New balance: ₹{self.balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew ₹{amount}. New balance: ₹{self.balance}")
        else:
            print("Insufficient funds or invalid amount.")


account1 = BankAccount("Ravi", 5000)
account1.deposit(2000)
account1.withdraw(1500)
account1.withdraw(6000)

Deposited ₹2000. New balance: ₹7000
Withdrew ₹1500. New balance: ₹5500
Insufficient funds or invalid amount.

In [ ]:
## 4. Create a `Dog` class with a `bark()` method that prints `"Woof!"`. Instantiate an object and call `bark()`.

In [5]:
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print("Woof!")


my_dog = Dog("Bruno")


my_dog.bark()

Woof!

In [ ]:
### 5. Write a class `Student` with attributes `name` and `marks`, and add a method to check if the student has passed (`marks >= 40`).
.

In [6]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def has_passed(self):
        return self.marks >= 40


student1 = Student("Arjun", 55)


if student1.has_passed():
    print(f"{student1.name} has passed.")
else:
    print(f"{student1.name} has not passed.")

Arjun has passed.

In [ ]:
## 6. Modify an attribute of an existing object in a class and print the updated value

In [7]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks


student1 = Student("Meera", 35)


print(f"Original Marks: {student1.marks}")


student1.marks = 45


print(f"Updated Marks: {student1.marks}")

Original Marks: 35
Updated Marks: 45

In [ ]:
## 7. Delete an attribute of an object and try accessing it to observe the result.

In [8]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

student1 = Student("Ishaan", 42)


print(f"Marks before deletion: {student1.marks}")


del student1.marks


try:
    print(student1.marks)
except AttributeError as e:
    print

Marks before deletion: 42

In [ ]:
## .8 Create a `Circle` class with a method `area()` that calculates the area based on the given radius.

In [9]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2


circle1 = Circle(7)


print(f"Area of the circle: {circle1.area():.2f}")

Area of the circle: 153.94

In [ ]:
## 9. Implement a `Book` class where each book has a title and author, and a method to display details.

In [10]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display_details(self):
        print(f"Title: \"{self.title}\", Author: {self.author}")


book1 = Book("To Kill a Mockingbird", "Harper Lee")


book1.display_details()

Title: "To Kill a Mockingbird", Author: Harper Lee

In [ ]:
### 10. Define a `Laptop` class with attributes `brand` and `price`, and create multiple objects to store different laptops.

In [11]:
class Laptop:
    def __init__(self, brand, price):
        self.brand = brand
        self.price = price

    def display(self):
        print(f"Laptop Brand: {self.brand}, Price: ₹{self.price}")


laptop1 = Laptop("Dell", 55000)
laptop2 = Laptop("HP", 62000)
laptop3 = Laptop("Lenovo", 48000)


laptop1.display()
laptop2.display()
laptop3.display()

Laptop Brand: Dell, Price: ₹55000
Laptop Brand: HP, Price: ₹62000
Laptop Brand: Lenovo, Price: ₹48000