<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Operators_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 1. Write a Python program that adds two numbers using the `+` operator and prints the result.

In [ ]:
num1 = 7
num2 = 5
sum_result = num1 + num2
print("The sum is:", sum_result)

In [ ]:
### 2 . Create a program that takes two numbers and finds their remainder using the `%` operator.

In [1]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


remainder = num1 % num2

print("The remainder is:", remainder)

Enter the first number: 5
Enter the second number: 7
The remainder is: 5

In [ ]:
### 3. Use a comparison operator to check if `10` is greater than `5` and print the result

In [2]:

result = 10 > 5
print("Is 10 greater than 5?", result)

Is 10 greater than 5? True

In [ ]:
### 4 a program that checks if two variables have the same value using the `==` operator.

In [4]:

a = 10
b = 10


if a == b:
    print("The variables have the same value.")
else:
    print("The variables have different values.")

The variables have the same value.

In [ ]:
### 5. Implement a program that uses the `and` logical operator to check if both conditions `10 > 5` and `20 > 15` are `True`.

In [5]:

if 10 > 5 and 20 > 15:
    print("Both conditions are True!")
else:
    print("At least one condition is False.")

Both conditions are True!

In [ ]:
#### 6 Use an assignment operator to increase the value of `x = 10` by `5` using `+=`.

In [6]:
x = 10
x += 5
print(x)

15

In [ ]:
###7. Write a program that checks if a number is **not** greater than `100` using the `not` operator

In [7]:
num = int(input("Enter a number: "))

if not num > 100:
    print("The number is not greater than 100.")
else:
    print("The number is greater than 100.")

Enter a number: 101
The number is greater than 100.

In [ ]:
###5 Use `range()` and the `*` multiplication operator to print the first 10 multiples of `5`.

In [8]:
for i in range(1, 11):
    print(i * 5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
###9  Create a program that asks the user for two numbers and finds their quotient using the `/` operator.

In [9]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


if num2 != 0:
    quotient = num1 / num2
    print("The quotient is:", quotient)
else:
    print("Cannot divide by zero!")

Enter the first number: 5
Enter the second number: 2
The quotient is: 2.5

In [ ]:
### 10. Implement a program that swaps two numbers using a mathematical operator without using a temporary variable.

In [14]:

a = 5
b = 10


a = a + b
b = a - b
a = a -b



print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5