<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_%60map()%60_Function_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: `map()` Function in Python**

In [ ]:
### 1. Write a program using `map()` to convert a list of integers `[1, 2, 3, 4, 5]` into their squares.

In [6]:
num = [1,2,3,4,5,]
result = map(lambda x: x**2,num)
print(tuple(result))

(1, 4, 9, 16, 25)

In [ ]:
### 2. Use `map()` to convert a list of temperatures in Celsius `[0, 10, 20, 30, 40]` to Fahrenheit.

In [9]:

celsius = [0, 10, 20, 30, 40]

fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
## 3. Given a list of names `["alice", "bob", "charlie"]`, use `map()` to capitalize each name.

In [10]:
name = ['alice','bob','charlie']
res = map(lambda x: x.upper(),name)
print(tuple(res))

('ALICE', 'BOB', 'CHARLIE')

In [ ]:
### 4 ite a program using `map()` to convert a list of numbers `[1, 2, 3, 4, 5]` into their string representations.

In [11]:
num = [1,2,3,4,5]
res = map(lambda x: str(x),num)
print(tuple(res))

('1', '2', '3', '4', '5')

In [ ]:
### 5 . Use `map()` to add corresponding elements of two lists `[1, 2, 3]` and `[4, 5, 6]`.

In [21]:
num =[1,2,3]
num1 = [4,5,6]
res = map(lambda x,y: x+y,num,num1)
print(tuple(res))

(5, 7, 9)

In [ ]:
## 6 Write a program that uses `map()` with `lambda` to multiply each element in a list `[2, 4, 6, 8]` by 3.

In [22]:
num =[2,4,6,8]
res = map(lambda x: x*2, num)
print(list(res))

[4, 8, 12, 16]

In [ ]:
### 7 Convert a list of words `["hello", "world", "python"]` into their lengths using `map()`.

In [23]:
name = ["hello", "world", "python"]
res = map(lambda x: len(x),name)
print(tuple(res))

(5, 5, 6)

In [ ]:
## 8. Given a list of mixed data types `[1, "2", "three", 4, "5"]`, use `map()` to convert only numeric values to integers.

In [32]:
num = [1, "2", "three", 4, "5"]
res = map(lambda x: int(x) if isinstance(x, str) and x.isdigit() else x,num)
print(list(res))

[1, 2, 'three', 4, 5]

In [ ]:
## 9. Use `map()` to compute the cube of each number in a list `[1, 2, 3, 4, 5]`

In [33]:
num = [1,2,3,4,5]
res = map(lambda x: x**2 ,num)
print(tuple(res))

(1, 4, 9, 16, 25)

In [ ]:
###  10. Write a function that takes a sentence and uses `map()` to convert each word to uppercase.

In [35]:
words = ['apple','mango',"orange"]
res = map(lambda x: x.upper(),words)
print(tuple(res))

('APPLE', 'MANGO', 'ORANGE')