<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Tuple_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: Tuple in Python**

In [ ]:
###1 Create a tuple `fruits` with values `("apple", "banana", "cherry")` and print it.

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
### 2. Access and print the first and last elements of the `fruits` tuple using indexing.

In [ ]:
print(fruits[-1])

cherry

In [ ]:
### 3   Use slicing to print the first two elements of the `fruits` tuple.

In [ ]:
print(fruits[0],fruits[1])

apple banana

In [ ]:
### 4. Create a tuple `numbers` with values `(10, 20, 30, 40)`, and find its length using `len()`.

In [ ]:
num = (10,20,30,40)
print(len(num))

4

In [ ]:
### 5. Check how many times `"apple"` appears in the tuple `("apple", "banana", "apple", "cherry")` using `count()`.

In [ ]:
print(fruits.count("apple"))

1

In [ ]:
### 6 Find the index of `"banana"` in the tuple `("apple", "banana", "cherry")` using `index()

In [ ]:
print(fruits.index("banana"))

1

In [ ]:
### 7. Concatenate two tuples `(1, 2, 3)` and `(4, 5, 6)` and print the resulting tuple.

In [ ]:
name = (1,2,3)
name1 = (4,5,6)
print(name+name1)

(1, 2, 3, 4, 5, 6)

In [ ]:
### 8 Repeat the tuple `(1, 2)` three times and print the result.

In [ ]:
num = (1,2)
print(num*3)

(1, 2, 1, 2, 1, 2)

In [1]:
####  9. Convert the tuple `("red", "green", "blue")` into a list, add `"yellow"`, and convert it back into a tuple

In [8]:
subbu = ("red","green","blue")
subu=list(subbu)
subu.append("yellow")
subbu=tuple(subu)
print(subbu)

('red', 'green', 'blue', 'yellow')

In [ ]:
"### 10 Write a loop to iterate through the tuple `("Python", "Java", "C++")` and print each item.

In [ ]:
name = ("Python", "Java", "C++")
for i in name :
  print(name)

('Python', 'Java', 'C++')
('Python', 'Java', 'C++')
('Python', 'Java', 'C++')