<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_List_Comprehension_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task: List Comprehension in Python

In [ ]:
### 1. Create a List of Squares  Write a Python program that generates a list of squares from 1 to 10 using list comprehension.

In [3]:
square = [i**2 for i in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
###  2. Filter Odd Numbers  Generate a list containing only the odd numbers from 1 to 20 using list comprehension.

In [4]:
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
## 3. Convert Words to Uppercase  Given a list of words, use list comprehension to create a new list where all words are in uppercase.

In [5]:
words = ["hello", "world", "python", "rocks"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON', 'ROCKS']

In [ ]:
## 4. Find Multiples of 3  Write a program that generates a list of numbers from 1 to 30 that are divisible by 3 using list comprehension.

In [6]:
multiples_of_3 = [num for num in range(1, 31) if num % 3 == 0]
print(multiples_of_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
### 5. Extract Vowels from a String  Take a string input from the user and use list comprehension to create a list of vowels present in the string.

In [7]:
text = input("Enter a string: ")
vowels = [char for char in text if char.lower() in 'aeiou']
print(vowels)

Enter a string: subbu
['u', 'u']

In [ ]:
###6. Reverse Each Word in a List  Given a list of words, create a new list using list comprehension where each word is reversed.

In [8]:
words = ["python", "rocks", "challenge", "accepted"]
reversed_words = [word[::-1] for word in words]
print(reversed_words)

['nohtyp', 'skcor', 'egnellahc', 'detpecca']

In [ ]:
## 7. Replace Spaces with Hyphens  Write a Python program that takes a sentence and uses list comprehension to replace every space with a hyphen (`-`).

In [10]:
sentence = input("Enter a sentence: ")
hyphenated = ''.join([char if char != ' ' else '-' for char in sentence])
print(hyphenated)

Enter a sentence: subbu
subbu

In [ ]:
## 8. Remove Duplicates from a List  Given a list with duplicate values, use list comprehension to create a new list that contains only unique values.

In [11]:
original_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
seen = set()
unique_list = [x for x in original_list if not (x in seen or seen.add(x))]
print(unique_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
## 9. Create a List of Tuples  Generate a list of tuples where each tuple contains a number and its square for numbers from 1 to 10 using list comprehension.

In [12]:
original_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
seen = set()
unique_list = [x for x in original_list if not (x in seen or seen.add(x))]
print(unique_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
## 10. Conditional Transformation  Given a list of numbers, use list comprehension to replace even numbers with `"Even"` and odd numbers with `"Odd"`.

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
transformed = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
print(transformed)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']