<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_List_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: List in Python**

In [ ]:
### 1. Create a list `fruits` with values `["apple", "banana", "cherry"]` and print the first element.

In [1]:
fruits = ['mango','apple','cherry']
print(fruits[0])

mango

In [ ]:
## 2. Define a list `numbers` with values `[10, 20, 30, 40, 50]` and print the last element using negative indexing.

In [2]:
num = [10, 20, 30, 40, 50]
print(num[-1])

50

In [ ]:
## 3. Add `"mango"` to the `fruits` list using `append()` and print the updated list.

In [6]:
fruits.append("grapes")
print(fruits)

['mango', 'apple', 'cherry', 'grapes', 'mango', 'grapes']

In [ ]:
### 4. Insert `"grape"` at index `1` in the `fruits` list and print the updated list.

In [9]:
fruits.insert(1,"grapes")
print(fruits)

['mango', 'grapes', 'apple', 'cherry', 'grapes', 'mango', 'grapes']

In [ ]:
### 5. Remove `"banana"` from the `fruits` list using `remove()` and print the updated list.

In [13]:
fruits.remove("apple")
print(fruits)

['grapes', 'cherry', 'grapes', 'mango', 'grapes']

In [ ]:
### 6. Use `pop()` to remove the last element from `numbers` and print the updated list.

In [15]:
fruits.pop(-1)
print(fruits)

['grapes', 'cherry', 'grapes', 'mango']

In [ ]:
## 7. Sort the `numbers` list in ascending order and print the result

In [16]:
fruits.sort()
print(fruits)

['cherry', 'grapes', 'grapes', 'mango']

In [ ]:
## 8. Reverse the `numbers` list and print the result.

In [17]:
fruits.reverse()
print(fruits)

['mango', 'grapes', 'grapes', 'cherry']

In [ ]:
## 9. Slice the `fruits` list to get the first two elements and print them.

In [23]:
fruits =['mango','apple','cherry']
subbu =fruits[0],fruits[1]
print(subbu)

('mango', 'apple')

In [ ]:
## 10. Create a nested list `matrix = [[1, 2], [3, 4], [5, 6]]` and print the element `4` using indexing.

In [21]:
matrix = [[1, 2], [3, 4], [5, 6]]
print(matrix[1][1])

4