<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_String_Manipulation_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: String Manipulation in Python**

In [ ]:
## 1. Create a string variable `text` with the value `"Hello, Python!"` and print it.

In [3]:
print("Hello Python")

Hello Python

In [ ]:
### 2. Convert the string `"python programming"` to uppercase and print the result.

In [4]:
name = "python programming"
print(name.upper())

PYTHON PROGRAMMING

In [ ]:
### 3. Replace `"Python"` with `"Java"` in the string `"I love Python"` and print the modified string.

In [7]:
name = "I love Python"
name1 =name.replace("Python","Java")
print(name1)

I love Java

In [ ]:
### 4. Find and print the length of the string `"Python is fun!"` using `len()`.

In [12]:
name = "python is fun"
text = len(name)
print(text)

13

In [ ]:
##.5 Extract and print the first five characters of `"Hello, World!"` using slicing.

In [16]:
name = 'Hello world'
print(name[:5])

Hello

In [ ]:
## 6. Use `split()` to break the string `"apple,banana,cherry"` into a list and print the result.

In [27]:
text = "apple,banana,cherry"
fruits = text.split("apple")
print(fruits)

['', ',banana,cherry']

In [ ]:
## 7. Remove spaces from both ends of the string `"  Python  "` using `strip()` and print the output.

In [29]:
name = " python  "
name1 =name.strip()
print(name1)

python

In [ ]:
## 8. Reverse the string `"Python"` using slicing and print the result.

In [37]:
name = "python"
print(name[::-1])

nohtyp

In [ ]:
## 9. Use `join()` to combine the list `["Hello", "Python"]` into a single string separated by a space.

In [39]:
name = ["hello" ,"python"]
name1 = " ".join(name)
print(name1)

hello python

In [ ]:
### 10. Format a string using f-strings to print `"My name is John and I am 25 years old."` where `"John"` and `25` are stored in variables.

In [41]:
name = "john"
name1 = 25
print(f"my name is {name} I am {name1} years old")

my name is john I am 25 years old

In [ ]:
|