<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_%60filter()%60_Function_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: `filter()` Function in Python**

In [ ]:
## 1. Write a program using `filter()` to extract even numbers from a list `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

In [4]:
def subbu(num):
  return num %2==0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(subbu,numbers)
print(list(result))

[2, 4, 6, 8, 10]

In [ ]:
### 2. Use `filter()` to find all numbers greater than `5` in a list `[3, 6, 2, 8, 5, 10]`.

In [5]:
def subbu(num):
  return num > 5


numbers = [3, 6, 2, 8, 5, 10]
result = filter(subbu,numbers)
print(list(result))

[6, 8, 10]

In [ ]:
### 3. Given a list of words `["apple", "banana", "cherry", "avocado", "grape"]`, use `filter()` to extract words that start with "a".

In [24]:
def subbu(num):
  return num.startswith('a')

list_no = ["apple", "banana", "cherry", "avocado", "grape"]
result = filter(subbu, list_no)
print(list(result))

['apple', 'avocado']

In [ ]:
## 4. Write a program using `filter()` to select only positive numbers from `[-5, -2, 0, 3, 7, -1]`.

In [11]:
def subbu(num):
  return num >-1

numbers =[-5, -2, 0, 3, 7, -1]
result = filter(subbu,numbers)
print(list(result))

[0, 3, 7]

In [ ]:
### 5. Use `filter()` to extract only odd numbers from a list `[10, 15, 20, 25, 30, 35]`.

In [13]:
def subbu(num):
  return num %2 !=0

numbers =  [10, 15, 20, 25, 30, 35]
result = filter(subbu,numbers)
print(list(result))

[15, 25, 35]

In [ ]:
### 6. Given a list of strings `["Python", "", "Java", " ", "C++", ""]`, use `filter()` to remove empty strings.

In [14]:
def subbu(num):
  return num.strip()

numbers =   ["Python", "", "Java", " ", "C++", ""]
result = filter(subbu,numbers)
print(list(result))

['Python', 'Java', 'C++']

In [ ]:
### 7. Write a function using `filter()` to extract numbers that are divisible by 3 from `[1, 2, 3, 4, 5, 6, 7, 9, 12, 15]`.

In [15]:
def subbu(num):
  return num //3

numbers   = [1, 2, 3, 4, 5, 6, 7, 9, 12, 15]
result =filter(subbu,numbers)
print(list(result))

[3, 4, 5, 6, 7, 9, 12, 15]

In [ ]:
## 8. Use `filter()` with a lambda function to find words with more than 5 letters from `["short", "longer", "big", "small", "elephant"]`.

In [19]:
words = ["short", "longer", "big", "small", "elephant"]
long_words = filter(lambda x: len(x) > 5, words)
print(list(long_words))

['longer', 'elephant']

In [21]:
### 9. Write a program that uses `filter()` to remove negative numbers from a list `[-3, -1, 2, 4, -6, 8]`

numbers = [-3, -1, 2, 4, -6, 8]
positive_numbers = list(filter(lambda x: x >= 0, numbers))
print(positive_numbers)

[2, 4, 8]

In [23]:
## 10 Given a list of names `["Alice", "Bob", "Anna", "Charlie"]`, use `filter()` to extract names that start with "A".
name = ["Alice", "Bob", "Anna", "Charlie"]
result filter(lambda x: x.startswith('A'),name)
print(result)

['Alice', 'Anna']