<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Functions_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### **Task: Functions in Python**

In [ ]:
#### 1 Write a function `greet()` that prints `"Hello, Welcome to Python!"` when called.

In [1]:
def gree():
  print("Hello ,welcome to python")

In [ ]:
### 2. Create a function `add(a, b)` that takes two numbers as parameters and returns their sum.

In [4]:
def subbu(a,b):
  return a +b

print(subbu(3,4))

7

In [ ]:
### 3. Define a function `square(n)` that returns the square of a given number.

In [6]:
def subbu(square):
  return square **2

print(subbu(2))

4

In [ ]:
### 4. Write a function `is_even(n)` that returns `True` if a number is even, otherwise `False`.

In [11]:
def is_even(num):
  return num % 2 == 0

print(is_even(2
              ))

True

In [ ]:
### 5. Create a function `greet_user(name="Guest")` that prints `"Hello, [name]!"`, using `"Guest"` as the default value.

In [12]:
def greet_user(name):
  print("this is subbu",name)

greet_user("ok")

this is subbu ok

In [ ]:
### 6 Implement a function `multiply(a, b=2)` that multiplies two numbers but has a default value of `2` for `b`.

In [16]:
def multiply(a, b=2):
    return a * b


print(multiply(4))

8

In [ ]:
###  7. Write a function `factorial(n)` that calculates the factorial of a given number using a loop.

In [26]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

print(factorial(5))

120

In [ ]:
###  8. Create a function `count_vowels(text)` that returns the number of vowels in a given string.

In [32]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count

print(count_vowels("Hello, World"))

3

In [ ]:
## 9 Define a function `reverse_string(text)` that returns the reversed version of a given string.

In [34]:
def reverse_string(num):
  return num[::-1]

print(reverse_string("hello python"))

nohtyp olleh

In [ ]:
### 10. Write a function `is_palindrome(text)` that checks if a string is a palindrome (same forward and backward).

In [36]:
def is_palindrome(text):
    cleaned = text.lower().replace(" ", "")
    return cleaned == cleaned[::-1]
print(is_palindrome("Racecar"))
print(is_palindrome("Hello"))

True
False
True