<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/_Task_Set_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
### **Task: Set in Python**

## 1. Create a set `fruits` with values `{"apple", "banana", "cherry"}` and print it.
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [5]:
### 2. Add `"grape"` to the `fruits` set using `add()` and print the updated set.
fruits.add("grapes")
print(fruits)

{'apple', 'banana', 'grapes', 'cherry'}

In [ ]:
## 3. Remove `"banana"` from the `fruits` set using `remove()` and print the updated set.

In [6]:
fruits.remove("banana")
print(fruits)

{'apple', 'grapes', 'cherry'}

In [ ]:
## 4. Try removing an element that does not exist using `discard()`. Observe if an error occurs.

In [8]:
fruits.discard("orange")
print(fruits)

{'apple', 'grapes', 'cherry'}

In [ ]:
### 5. Create two sets, `A = {1, 2, 3, 4}` and `B = {3, 4, 5, 6}`, and print their union.

In [12]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}


print(A.union(B))

{1, 2, 3, 4, 5, 6}

In [ ]:
## 6. Find the intersection of sets `A` and `B` and print the result.

In [14]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

intersection = A & B  # or A.intersection(B)

print("Intersection of A and B:", intersection)

Intersection of A and B: {3, 4}

In [ ]:
### 7. Compute the difference between sets `A` and `B` (`A - B`) and print the result.

In [13]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A-B)

{1, 2}

In [ ]:
## 8. Convert a list `[1, 2, 2, 3, 4, 4, 5]` to a set and print it to remove duplicates.

In [20]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)

print("Set with duplicates removed:", unique_set)

Set with duplicates removed: {1, 2, 3, 4, 5}

In [21]:
# 9. Use a loop to iterate through the `fruits` set and print each element.

In [26]:
fruits = {"apple", "banana", "cherry"}
for fruits in fruits:
 print(fruits)

apple
banana
cherry

In [ ]:
### 10. Check if `"apple"` exists in the `fruits` set using the `in` keyword and print the result.

In [41]:
fruits = {"apple", "banana", "cherry","apple","banana","cherry"}
fruits.union(fruits)
print(fruits)

{'apple', 'banana', 'cherry'}

In [40]:
if "apple" in fruits:
  print("it contains apple")
else:
  print("it does not contain apple")

it contains apple

In [43]:
subbu = set(fruits)
print(subbu)

subbu1 = len(subbu)
print(subbu1)

{'apple', 'banana', 'cherry'}
3