<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/python_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## question 1. with all functions of dictionary
#### Create a dictionary `student` with keys `"name"`, `"age"`, and `"grade"` and print it.


student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}
print(student.keys())

dict_keys(['name', 'age', 'grade'])

In [ ]:
print(student.get('name'))

['sohaib', 'khan', 'akram', 'hussain']

In [ ]:
print(student.items())

dict_items([('name', ['sohaib', 'khan', 'akram', 'hussain']), ('age', [78, 45, 65, 24]), ('grade', ['a+', 'b', 'c', 'd'])])

In [ ]:
print(student.pop("grade"))

['a+', 'b', 'c', 'd']

In [ ]:
print(student)

{'name': ['sohaib', 'khan', 'akram', 'hussain'], 'age': [78, 45, 65, 24]}

In [ ]:
del student["age"]

In [ ]:
print(student)

{'name': ['sohaib', 'khan', 'akram', 'hussain']}

In [ ]:
### question 2. Access and print the value of the `"name"` key from the `student` dictionary.

student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}
print(student.get("name"))

['sohaib', 'khan', 'akram', 'hussain']

dict_items([('name', ['sohaib', 'khan', 'akram', 'hussain']), ('age', [78, 45, 65, 24]), ('grade', ['a+', 'b', 'c', 'd'])])

In [ ]:
### question 3. Use the `get()` method to access the `"age"` key safely and print its value.


student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}
print(student.get("age"))

[78, 45, 65, 24]

In [ ]:
### question 4. Add a new key-value pair `"city": "Bangalore"` to the `student` dictionary and print the updated dictionary.

student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}

student.update({'city':['banglore','Delhi']})
print(student)

{'name': ['sohaib', 'khan', 'akram', 'hussain'], 'age': [78, 45, 65, 24], 'grade': ['a+', 'b', 'c', 'd'], 'city': ['banglore', 'Delhi']}

In [ ]:
### question 5 Modify the `"grade"` value in the `student` dictionary to `"A+"` and print the dictionary.


student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}
student['grade']="A+","b+","c","d"
print(student)

{'name': ['sohaib', 'khan', 'akram', 'hussain'], 'age': [78, 45, 65, 24], 'grade': ('A+', 'b+', 'c', 'd')}

In [ ]:
### QUESTION 6.Remove the `"age"` key from the `student` dictionary using `pop()` and print the updated dictionary.

student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}

print(student.pop('age'))

[78, 45, 65, 24]

In [ ]:
print(student)

{'name': ['sohaib', 'khan', 'akram', 'hussain'], 'grade': ['a+', 'b', 'c', 'd']}

In [ ]:
### question 7. Write a loop to print all keys and values from the `student` dictionary.
student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}

for key,value in student.items():
    print(key,value)

name ['sohaib', 'khan', 'akram', 'hussain']
age [78, 45, 65, 24]
grade ['a+', 'b', 'c', 'd']

In [ ]:
fruits = 'mango','banana','grapes'
for fruits in fruits:
  print(fruits)

mango
banana
grapes

In [ ]:
### question 8.Check if the key `"email"` exists in the dictionary before accessing it.


student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}

key = "name"
print(key in student)

key ="email"
print(key in student)

True
False

In [ ]:
### question 9  Use `clear()` to remove all elements from the dictionary and print it.

student = {
    "name": ["sohaib","khan","akram","hussain"],
    'age':[78,45,65,24],
    'grade': ["a+","b","c","d"],

}
print(student.clear())

None

In [ ]:
print(student)

{}

In [ ]:


#### question 10.Create a nested dictionary containing information about multiple students and print details of one student using key access.


student = {
    "sohaib": {"age": 45, "marks": {"english": 78, "math": 88, "hindi": 82}},
    "mohan": {"age": 78, "marks": {"english": 78, "math": 88, "hindi": 82}}
}


print(student)


print(student)

{'sohaib': {'age': 45, 'marks': {'english': 78, 'math': 88, 'hindi': 82}}, 'mohan': {'age': 78, 'marks': {'english': 78, 'math': 88, 'hindi': 82}}}
{'sohaib': {'age': 45, 'marks': {'english': 78, 'math': 88, 'hindi': 82}}, 'mohan': {'age': 78, 'marks': {'english': 78, 'math': 88, 'hindi': 82}}}