<a href="https://colab.research.google.com/github/sohaib323/maid4u/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 1. Create an integer variable `x` with the value `10` and print it.

In [1]:
x = 10
print(x)

10

In [ ]:
## 2. Assign a decimal number to a variable `y` and print it.

In [2]:
y= 5.1
print(y)

5.1

In [ ]:
##33. Store your name in a variable `name` and print it.

In [ ]:
## 4. Create a boolean variable `is_python_easy` with the value `True` and print it.

In [10]:
num = 10
count = 5
 print(num>count)

IndentationError: unexpected indent (ipython-input-10-4265873147.py, line 3)

In [9]:
print(num>count)

NameError: name 'count' is not defined

In [ ]:
##5. Define a list `colors` with values `"red", "green", "blue"` and print the list.

In [11]:
name = ["red","green","blue"]
print(name)

['red', 'green', 'blue']

In [ ]:
## 6. Create a tuple `numbers` with values `(1, 2, 3)` and print it.

In [12]:
name = (1,2,3)
print(name)

(1, 2, 3)

In [ ]:
### 7. Define a dictionary `person` with keys `"name"` and `"age"`, assign values, and print it.

In [14]:
data = {
 "name": ["sohaib","kunal"],
  "age":[45,78],}


print(data)

{'name': ['sohaib', 'kunal'], 'age': [45, 78]}

In [15]:
## 8. Create a set `fruits` with values `"apple", "banana", "cherry"` and print it.

[45, 78]

In [16]:
fruits = ['apple','banana','cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
## 9. Use the `type()` function to check the data type of `10` and print the result.

In [17]:
num = 10
print(type(num))

<class 'int'>

In [19]:
### 10. Convert the integer `10` into a string and print the new value.

NUM = 10
print(str(NUM))

10

its error you cants put int into string

In [3]:
name = 'kunal'
print(name)

kunal